<div class="row text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="courrielUtilisateur">Adresse courriel</label>
        <input type="email" class="form-control" id="courrielUtilisateur" aria-describedby="courrielUtilisateurAide" placeholder="Entrer votre courriel...">
        <small id="courrielUtilisateurAide" class="form-text text-muted">Nous allons jamais partager votre courriel avec personne d'autre.</small>
      </div>
      <div class="form-group">
        <label for="motDePasseUtilisateur">Mot de passe</label>
        <input type="password" class="form-control" id="motDePasseUtilisateur" placeholder="Mot de passe">
      </div>
      <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
    <hr />
    <a href="/inscription" class="btn btn-primary">M'inscrire</a>
  </div>
  <div class="col-md-4"></div>
</div>
